{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "quotes": [2, "single", { "avoidEscape": true }],
    "max-len": ["error", {"code": 250, "ignoreUrls": true}],
    "new-parens": 2,
    "no-caller": 2,
    "no-bitwise": 2,
    "no-string-throw": 0,
    "no-cond-assign": 2,
    "no-consecutive-blank-lines": 0,
    "no-console": [0, "log", "error", "warn", "info"],
    "semi": [2, "never"],
    "eofline": 0,
    "comma-dangle": ["error", "never"]
  }
}
