.DS_Store
.env
.idea
.nyc_output
build
coverage
dist
docs/source
docs/terraform.md
secure
local
temp
node_modules
secrets.yaml
youtube-cookies.txt
cloudformation.json
src/types/infrastructure.d.ts
terraform/terraform.tfstate*
terraform/.terraform.tfstate.lock.info
terraform/.terraform.lock.hcl
terraform/.terraform
.webpackCache
.python-version
layers/yt-dlp/bin/yt-dlp_linux

# pnpm
.pnpm-store
