name: Unit Tests

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - master

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version-file: '.nvmrc'
        cache: 'npm'

    - name: Set up Homebrew
      id: set-up-homebrew
      uses: Homebrew/actions/setup-homebrew@master

    - name: Install hcl2json
      id: brew-install-hcl2json
      run: brew install hcl2json

    - name: Install dependencies
      run: npm ci --ignore-scripts

    - name: Setup directories
      id: setup
      run: mkdir build

    - name: Build dependencies
      id: build-dependencies
      run: npm run build-dependencies

    - name: Webpack Build
      id: build
      run: npm run build

    - name: Run unit tests
      run: npm run test
      env:
        CI: true
